:root {
    /* background color site */
    --dark-background-color: #242B33;
    --darklight-background-color: #2D343C;
    --accent-background-color: #D4C17F;
    --light-background-color: #FFFFFF;

    /* text color site */
    --light-text-color: #FFFFFF;
    --accent-text-color: #D4C17F;
    --dark-text-color: #BEBEBE;
    --medium-text-color: #E7E7E7;
}

/* basic style */
body {
    background-color: var(--dark-background-color);
    color: var(--light-text-color);

    font-family: 'Raleway', sans-serif;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* end basic style */

/* header style */
.logo:hover,
.logo:focus {
    color: var(--accent-text-color);
}
.link-nav {
    color: var(--light-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-nav:hover,
.link-nav:focus {
    color: var(--dark-text-color);
}
/* end header style */

/* main styles */
/* section hero style */
.hero {
    box-sizing: border-box;
    height: 840px;
    background-image: url('../images/background-hero.jpg');
}
.caption {
    color: var(--accent-text-color);

    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.333;
    text-align: center;
}
.link-hero {
    color: var(--light-text-color);

    font-size: 18px;
    line-height: 1.167;
    text-align: center;
}
.link-hero:hover,
.link-hero:focus {
    color: var(--accent-text-color);
}

/* section specific style */
.desc-specific {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}

/* section apartment style */
.title {
    color: var(--accent-text-color);

    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.333;
}
.desc-title {
    font-size: 24px;
    line-height: 1.167;
}

/* section prices style */
.title-tab {
    font-size: 24px;
    line-height: 1.167;
}
.subtitle-tab {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
}
.desc-tab {
    font-size: 24px;
    line-height: 1.167;
}

/* section more details stile */
.text-title {
    font-size: 16px;
    line-height: 1.5;
}
.text {
    color: var(--medium-text-color);

    font-size: 13px;
    line-height: 1.231;
    text-align: center;
}
/* end main styles */

/* footer styles */
/* address style */
.text-footer {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-address {
    color: var(--accent-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-address:hover,
.link-address:focus {
    color: var(--medium-text-color);
}
.address {
    color: var(--light-text-color);
    
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
/* social network style */
.link {
    color: var(--light-text-color);
}