:root {
    /* background color site */
    --dark-background-color: #242b33;
    --dark-light-background-color: #2d343c;
    --accent-background-color: #d4c17f;
    --light-background-color: #ffffff;

    /* text color site */
    --light-text-color: #ffffff;
    --accent-text-color: #d4c17f;
    --dark-text-color: #bebebe;
    --medium-text-color: #e7e7e7;
}

/* basic style */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: var(--dark-background-color);
    color: var(--light-text-color);

    font-family: "Raleway", sans-serif;
}
/* .list {
    list-style: none;
} */
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding: 80px;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
/* end basic style */

/* header style */
.wrapper {
    height: 840px;
    background-image: url("../images/background-hero.png");
}
.header {
    padding-top: 27px;
    padding-bottom: 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-background-color);
    padding-bottom: 100px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.logo {
    color: var(--light-text-color);
    width: 165px;
    height: 70px;
}
.logo:hover,
.logo:focus {
    color: var(--accent-text-color);
}
.link-nav {
    color: var(--light-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-nav:hover,
.link-nav:focus {
    color: var(--dark-text-color);
}
/* end header style */

/* main styles */
/* section hero style */
.hero {
    box-sizing: border-box;
    height: 840px;
    padding: 103px 0 74px 0;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 600px;
}
.caption {
    color: var(--accent-text-color);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.333;
    text-align: center;
}
.hero-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}
.hero-icon {
    width: 40px;
    height: 40px;
}
.hero-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--light-text-color);
    cursor: pointer;
}
.contact-icon {
    width: 21px;
    height: 21px;
    fill: var(--light-text-color);
}
.contact:hover,
.contact:focus {
    color: var(--accent-text-color);
}
.contact-icon:hover,
.contact-icon:focus {
    fill: var(--accent-text-color);
}

/* section specific style */
.specific {
    padding-top: 100px;
}
.specific-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specific-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}
.specific-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 200px;
}
.img-specific {
    width: 80px;
    height: 80px;
}
.desc-specific {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}

/* section apartment style */
.apartments {
    padding-top: 190px;
}
.apartments-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.title {
    color: var(--accent-text-color);

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.333;
}
.apartments-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.desc-title {
    font-size: 24px;
    line-height: 1.167;
}

/* section prices style */
.prices {
    padding-top: 100px;
}
.prices-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.prices-table {
    width: 100%;
    text-align: start;
    border-collapse: collapse;
}

.title-tab {
    font-size: 24px;
    line-height: 1.167;
    text-align: start;
    padding: 12px 0 22px 0;
}
.subtitle-tab {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    text-align: start;
    padding: 15px 16px 24px 16px;
    border: 1px solid var(--light-background-color);
}
.desc-tab {
    font-size: 24px;
    line-height: 1.167;
    text-align: start;
    padding: 15px 16px 24px 16px;
    border: 1px solid var(--light-background-color);
}

/* section more details stile */
.details {
    padding: 195px 0 130px 0;
    background-image: url("../images/background-details.png");
}
.details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.details-text {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 460px;
}
.text-title {
    font-size: 16px;
    line-height: 1.5;
}
.text {
    color: var(--medium-text-color);

    font-size: 13px;
    line-height: 1.231;
    text-align: center;
}
.details-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 25px;
    align-items: end;
}
.detail-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.label {
    color: var(--medium-text-color);
}
.input {
    padding: 12px 16px;
    background-color: #565b60;
    font-size: 14px;
    color: var(--accent-text-color);
    border: none;
}
.input::placeholder {
    color: #bebebe;
}
.button {
    padding: 12px 40px;
    color: var(--light-text-color);
    background-color: var(--accent-background-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
}
/* section video style */
.video {
    padding-top: 50px;
}
.video-preview {
    position: relative;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    cursor: pointer;
}

.video-thumb {
    width: 100%;
    display: block;
}

.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background: none;
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: 0.25s ease;
}
.video-icon {
    width: 80px;
    height: 80px;
}
.video-element {
    width: 100%;
    max-width: 720px;
    display: block;
    margin: 0 auto;
}
.video-preview:hover .video-play {
    transform: translate(-50%, -50%) scale(1.15);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    background-color: unset;
}
.hidden {
    display: none;
}

/* end main styles */

/* footer styles */
/* address style */
.text-footer {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-address {
    color: var(--accent-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-address:hover,
.link-address:focus {
    color: var(--medium-text-color);
}
.address {
    color: var(--light-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
/* social network style */
.link {
    color: var(--light-text-color);
}
