:root {
    /* background color site */
    --dark-background-color: #242b33;
    --dark-light-background-color: #2d343c;
    --accent-background-color: #d4c17f;
    --light-background-color: #ffffff;

    /* text color site */
    --light-text-color: #ffffff;
    --accent-text-color: #d4c17f;
    --dark-text-color: #bebebe;
    --medium-text-color: #e7e7e7;
}

/* basic style */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: var(--dark-background-color);
    color: var(--light-text-color);

    font-family: "Raleway", sans-serif;
}
/* .list {
    list-style: none;
} */
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding: 80px;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
/* end basic style */

/* header style */
.header {
    padding: 30px 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-background-color);
    padding-bottom: 100px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.logo {
    color: var(--light-text-color);
    width: 165px;
    height: 70px;
}
.logo:hover,
.logo:focus {
    color: var(--accent-text-color);
}
.link-nav {
    color: var(--light-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-nav:hover,
.link-nav:focus {
    color: var(--dark-text-color);
}
/* end header style */

/* main styles */
/* section hero style */
.hero {
    box-sizing: border-box;
    height: 840px;
    background-image: url("../images/background-hero.jpg");
    padding: 103px 0 74px 0;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 600px;
}
.caption {
    color: var(--accent-text-color);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.333;
    text-align: center;
}
.hero-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}
.hero-icon {
    width: 40px;
    height: 40px;
}
.hero-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--light-text-color);
    cursor: pointer;
}
.contact-icon {
    width: 21px;
    height: 21px;
    fill: var(--light-text-color);
}
.contact:hover,
.contact:focus {
    color: var(--accent-text-color);
}
.contact-icon:hover,
.contact-icon:focus {
    fill: var(--accent-text-color);
}

/* section specific style */
.specific {
    padding: 100px 0 190px 0;
}
.specific-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specific-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}
.specific-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 200px;
}
.img-specific {
    width: 80px;
    height: 80px;
}
.desc-specific {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}

/* section apartment style */
.title {
    color: var(--accent-text-color);

    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.333;
}
.desc-title {
    font-size: 24px;
    line-height: 1.167;
}

/* section prices style */
.title-tab {
    font-size: 24px;
    line-height: 1.167;
}
.subtitle-tab {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
}
.desc-tab {
    font-size: 24px;
    line-height: 1.167;
}

/* section more details stile */
.text-title {
    font-size: 16px;
    line-height: 1.5;
}
.text {
    color: var(--medium-text-color);

    font-size: 13px;
    line-height: 1.231;
    text-align: center;
}
/* end main styles */

/* footer styles */
/* address style */
.text-footer {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-address {
    color: var(--accent-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
.link-address:hover,
.link-address:focus {
    color: var(--medium-text-color);
}
.address {
    color: var(--light-text-color);

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.05em;
}
/* social network style */
.link {
    color: var(--light-text-color);
}
